@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("/fonts/Gilroy-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url("/fonts/Gilroy-Medium.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url("/fonts/Gilroy-Semibold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url("/fonts/Gilroy-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    src: url("/fonts/Gilroy-Extrabold.woff") format("woff");
    font-display: swap;
}
